In [14]:
lst=[15,"Ananya",56,45]

In [15]:
lst

[15, 'Ananya', 56, 45]

In [16]:
lst.append("kiran")

In [17]:
lst

[15, 'Ananya', 56, 45, 'kiran']

In [18]:
lst.index(56)

2

In [21]:
lst.pop(4)

'kiran'

In [22]:
lst.reverse()

In [23]:
lst

[45, 56, 'Ananya', 15]

In [26]:
lst.remove(56)

In [27]:
lst

[45, 'Ananya', 15]

#dictionary

In [28]:
dit={"place":"kurnool","state":"andhrapradesh","flower":"rose","fruit":"apple"}

In [29]:
dit

{'place': 'kurnool',
 'state': 'andhrapradesh',
 'flower': 'rose',
 'fruit': 'apple'}

In [32]:
dit.get("fruit")

'apple'

In [33]:
dit.items()

dict_items([('place', 'kurnool'), ('state', 'andhrapradesh'), ('flower', 'rose'), ('fruit', 'apple')])

In [34]:
dit.keys()

dict_keys(['place', 'state', 'flower', 'fruit'])

In [37]:
dit.get("flower")

'rose'

In [38]:
dit["school"]= "montessori"

In [39]:
dit

{'place': 'kurnool',
 'state': 'andhrapradesh',
 'flower': 'rose',
 'fruit': 'apple',
 'school': 'montessori'}

In [40]:
type(dit)

dict

In [41]:
st={"Ananya","lets upgrade",56,55}

In [42]:
st

{55, 56, 'Ananya', 'lets upgrade'}

In [43]:
st.add(45)

In [44]:
st

{45, 55, 56, 'Ananya', 'lets upgrade'}

In [46]:
st.intersection({56,78,'Ananya'})

{56, 'Ananya'}

In [47]:
st1={56,55}

In [48]:
st1.issubset(st)

True

In [49]:
st1.isdisjoint(st)

False

In [50]:
st1.union(st)

{45, 55, 56, 'Ananya', 'lets upgrade'}

#tuple

In [51]:
tup=("letsupgrade",55,56,"apple")

In [52]:
tup

('letsupgrade', 55, 56, 'apple')

In [53]:
tup.count(55)

1

In [54]:
tup.index(56)

2

#string

In [63]:
str="welcome to letsupgrade"

In [64]:
str

'welcome to letsupgrade'

In [65]:
str.endswith("students")

False

In [66]:
str.endswith("letsupgrade")

True

In [67]:
str.count("w")

1

In [68]:
str.expandtabs()

'welcome to letsupgrade'

In [69]:
str.find("e")

1

In [70]:
str.index("s")

14